<a href="https://colab.research.google.com/github/DB0324/DB0324/blob/main/GATE_DA_lec_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hey","there", sep="---")

hey---there

In [ ]:
print("htret","SRGRG","sdf",end="#ejncj",sep="646")
print("ZSFG","asdt")

htret646SRGRG646sdf#ejncjZSFG asdt

using semicolon

In [ ]:
print("asdcx");
print("ksn kn")

asdcx
ksn kn

In [ ]:
print("asdcx") print("ksn kn")

SyntaxError: invalid syntax (<ipython-input-6-a4ef8ac9197a>, line 1)

In [ ]:
print("asdcx");  print("ksn kn")

asdcx
ksn kn

IDENTATION

In [ ]:
print("adxf")
   print("Asd")

IndentationError: unexpected indent (<ipython-input-8-fee4e6e7bcbd>, line 2)

In [ ]:
_ = 100
print(_)

100

In [ ]:
9we=18

SyntaxError: invalid decimal literal (<ipython-input-16-5765637c10eb>, line 1)

In [ ]:
has jak="now"

SyntaxError: invalid syntax (<ipython-input-17-64fc81c3c460>, line 1)

In [ ]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))
# avoid this keyword as variable name also function name
# avoid capital letter as variable name

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

DATA TYPES

1.STRINGS
  --> series of characters

In [ ]:
str1 = "dhara"
str2 ="bambhroliya"
print(str1)
print(str2)
print(type(str1))
print(type(str2))

dhara
bambhroliya
<class 'str'>
<class 'str'>

In [ ]:
str3=str("dhara bambhroliya")
print(str3)
print(type(str3))

dhara bambhroliya
<class 'str'>

In [ ]:
print(id(str1))
print(id(str3))
print(id(str2))

138940479310576
138940970141216
138940479315888

python gives same id on cases of small int and small string

In [ ]:
a=250
b=250
print(id(a))
print(id(b))
c=300
d=300
print(id(c))
print(id(d))

138941386743824
138941386743824
138940105681008
138940105686576

In [ ]:
string1="dhara"
strin2="dhara"
string1==strin2

True

In [ ]:
s1=str("dhara")
s2=str("dhara ")  # adding a space
s1==s2

False

In [ ]:
print(s2.rstrip())
s1=" djakc"
print(s1.lstrip())
s3=" asd "
print(s3.strip())

dhara
djakc
asd

In [ ]:
# concatination
s1+s2

' djakcdhara '

In [ ]:
s1+" "+s2

' djakc dhara '

2.**NUMERIC**

In [ ]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)

13
7
30
3.3333333333333335

In [ ]:
c=20
d=4
print(c/d)
print(type(c/d))
# normal division always return float value

5.0
<class 'float'>

In [ ]:
# FLOOR division
c=20
d=4
print(c//d)
print(type(c//d))
# floor division always return int value--> floor value of the answer

5
<class 'int'>

In [12]:
from decimal import Decimal
Decimal (0.2)

Decimal('0.200000000000000011102230246251565404236316680908203125')

In [16]:
Decimal(0.3)

# here value of 0.3 is not same
# converting to binary and back to floating point value changes and it is close to origial value

Decimal('0.299999999999999988897769753748434595763683319091796875')

In [17]:
a=.1
b=.2
a+b

0.30000000000000004

In [24]:
from decimal import Decimal
a=Decimal('0.1')
b=Decimal('0.2')
print(type(a))
c=a+b
c
# this is type conversion

<class 'decimal.Decimal'>

Decimal('0.3')

In [25]:
a=Decimal(0.1)
b=Decimal(0.2)
a+b

Decimal('0.3000000000000000166533453694')

In [27]:
# type conversion
f=3.3
i=int(f)
print(i)
print(type(i))

3
<class 'int'>

In [28]:
# string immutable
name = "dhara"
name[0]='b'
name

TypeError: 'str' object does not support item assignment

In [44]:
lst = []
print(type(lst))
lst = [1,23,87,'dhara','ahbs']
print(id(lst))
print(len(lst))
lst[0]=100
print(lst)
print(id(lst))
# here, id does not change after updating list--> Mutable

<class 'list'>
135105098492800
5
[100, 23, 87, 'dhara', 'ahbs']
135105098492800

In [33]:
name="dhara"
print(id(name))
name="bambhroliya"
print(id(name))
# can not do indexing like list in string to change value but used to retrieve character
# here, id changes after updating string--> Immutable

135105097897328
135105099264112

In [37]:
new_list=[3,4,5,5]
print(id(new_list[2]))
print(id(new_list[3]))
# id of duplicate value will remain same

135106382299504
135106382299504

In [40]:
a = 5
b = 5
print(id(a))
print(id(b))
# id is same as above

135106382299504
135106382299504

In [42]:
c=500
d=500
print(id(c))
print(id(d))
# both id are different despite having same value

135105100392944
135105100397712

In [34]:
# but id of value of list will be changed
lst = [1,23,87,'dhara','ahbs']
print(id(lst))
print(id(lst[0]))
lst[0]=100
print(lst)
print(id(lst))
print(id(lst[0]))
# list id will remain same but value of list which is changed that id will be different

135105098438912
135106382299376
[100, 23, 87, 'dhara', 'ahbs']
135105098438912
135106382302544

In [35]:
d= "dhara"
d[0]

'd'

In [46]:
tpl = ()
print(type(tpl))
tpl=(1,23,87,'dhara','ahbs')
print(id(tpl))
print(tpl[-3])
tpl[-3]=93
tpl
# tuple immutable .. value can not  be changed

<class 'tuple'>
135105099164032
87

TypeError: 'tuple' object does not support item assignment

In [48]:
# list to tuple conversion
lst_1 = [1,87,'dhara']
print(id(lst_1))
tpl_1 = tuple(lst_1)
print(tpl_1)
print(id(tpl_1))

135105099532992
(1, 87, 'dhara')
135105098456128