<a href="https://colab.research.google.com/github/DB0324/DB0324/blob/main/GATE_DA_LEC_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TYPE CASTING**

In [1]:
# implicit type conversion--> automatically change of data type without involving user
a=7
b=3.0
c=a+b
print(c)
print(type(c))

10.0
<class 'float'>

In [2]:
# explicit type conversion
a=7
b=3.0
c=int(a+b)  # changing data type through user
print(c)
print(type(c))

10
<class 'int'>

In [4]:
#  int()
a=43.4
b="4.4"
c="3"
d="der"
i_a=int(a)
print(i_a)
i_b=int(b)
print(i_b)
i_c=int(c)
print(i_c)
i_d=int(d)
print(i_d)
# can not have floating point inside string to get int() output

43

ValueError: invalid literal for int() with base 10: '4.4'

In [6]:
#  int()
a=43.4
b="4.4"
c="3"
d="der"
i_a=int(a)
print(i_a)
# i_b=int(b)
# print(i_b)
i_c=int(c)
print(i_c)
i_d=int(d)
print(i_d)
#  can not have string in string to get int() output

43
3

ValueError: invalid literal for int() with base 10: 'der'

In [7]:
#  int()
a=43.4
b="4.4"
c="3"
d="der"
i_a=int(a)
print(i_a)
# i_b=int(b)
# print(i_b)
i_c=int(c)
print(i_c)
# i_d=int(d)
# print(i_d)

43
3

In [8]:
# float()
a=43
b="4.4"
c="3"
d="der"
f_a=float(a)
print(f_a)
f_b=float(b)
print(f_b)
f_c=float(c)
print(f_c)
f_d=float(d)
print(f_d)
# only sting in string does not work with float()

43.0
4.4
3.0

ValueError: could not convert string to float: 'der'

In [10]:
# string
a=500
b=4.5
s_a=str(a)
print(s_a)
s_b=str(b)
print(s_b)

500
4.5

# **OPERATORS**

**ARITHMETIC OPERATORS**

In [11]:
a=20
b=10
print("a+b:",a+b)
print("a-b:",a-b)
print("a*b:",a*b)
print("a/b:",a/b)
print("a%b:",a%b)
print("a//b:",a//b)
print("a**b:",a**b)

a+b: 30
a-b: 10
a*b: 200
a/b: 2.0
a%b: 0
a//b: 2
a**b: 10240000000000

In [12]:
 -7//2
#  floor division

-4

In [16]:
12.5%7.5

5.0

In [17]:
-7%5
#  modulo can never be negative!!

3

In [18]:
7%5

2

In [19]:
-21%8

3

In [20]:
21%8

5

In [22]:
-21%-8
# !!!!!!!!!!!!!!!!!!!!!!!!!!

-5

In [13]:
a=2.5
b=1.6
print("a+b:",a+b)
print("a-b:",a-b)
print("a*b:",a*b)
print("a/b:",a/b)
print("a%b:",a%b)
print("a//b:",a//b)
print("a**b:",a**b)

a+b: 4.1
a-b: 0.8999999999999999
a*b: 4.0
a/b: 1.5625
a%b: 0.8999999999999999
a//b: 1.0
a**b: 4.3321552697196655

**COMPARISION OPERATORS**

In [14]:
a=20
b=10
print("a>b:",a>b)
print("a<b:",a<b)
print("a>=b:",a>=b)
print("a<=b:",a<=b)
print("a==b:",a==b)
print("a!=b:",a!=b)
# bool type

a>b: True
a<b: False
a>=b: True
a<=b: False
a==b: False
a!=b: True

In [15]:
a=10
b=10
print("a>b:",a>b)
print("a<b:",a<b)
print("a>=b:",a>=b)
print("a<=b:",a<=b)
print("a==b:",a==b)
print("a!=b:",a!=b)
# bool type

a>b: False
a<b: False
a>=b: True
a<=b: True
a==b: True
a!=b: False

In [24]:
print(0==0)
print(0==0.0)
print(True==1)
print(False==0)
print(True==1.0)
print(False==0.0)

True
True
True
True
True
True

**LOGICAL OPERATORS**

In [26]:
# and, or, not
x=23
y=95
print(x>20 and y<100)  # true only if all are true, false if anyone is false
print(x>20 and y<90)
print(x>20 or y<100)  # true only if anyne one is true, false if all false
print(not(x>20 and y<100))

True
False
True
False

In [39]:
a=3
b=5
c=9
print(a and b and c)  # true
print(not(a and b and c))
# here 0,0.0, none , false other than that value will be True.
# if all true then --> last value to be True will be returned

9
False

In [37]:
a=3
b=0
c=9
print(a and b and c)   # false-> having value 0 in AND
print(not(a and b and c))
#  value 0 then false. it will stop and directly return 0,
#  will not check further condition in AND operator.

0
True

In [40]:
a=3
b=5
c=9
print(a or b or c) # true
print(not(a or b or c))
# if 1st operand is true then it will return that value only.will not check further condition

3
False

In [41]:
a=0
b=7
c=9
print(a or b or c) # True --> OR operator so 0 is allowed till all are false
print(not(a or b or c))
# if 1st operand is false then only it will check further condition.

7
False

In [42]:
a=0
b=False
c=9
print(a or b or c)
print(not(a or b or c))

9
False

In [43]:
a=3
b=5
c=9
print(a or b and c)
print(a and b or c)
print(not(a and b or c))
print(not(a or b and c))

3
5
False
False