<a href="https://colab.research.google.com/github/DB0324/DB0324/blob/main/GATE_DA_lec_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**RANGE**

In [ ]:
range_val = range(5)
print(range_val)

range(0, 5)

In [ ]:
a=list(range_val)
b=tuple(range_val)
print(a, b)

[0, 1, 2, 3, 4] (0, 1, 2, 3, 4)

In [ ]:
lst=list(range(46,54,2))
lst

[46, 48, 50, 52]

In [ ]:
l1=list(range(10,0,-1))
print(l1)
t1=tuple(range(10,0,-1))
print(t1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
range_val2=range(-10)
print(range_val2)
range_val3=list(range(-10))
print(range_val3)
# here, list is empty bcz start=0, stop=-10
# when start > stop => output is empty list/ tuple/set etc,.

range(0, -10)
[]

In [ ]:
range_val4=list(range(-10,-1))
print(range_val4)
# will take as start and stop value if you want add step then,,
range_val5=list(range(-10,-1,3))
print(range_val5)

[-10, -9, -8, -7, -6, -5, -4, -3, -2]
[-10, -7, -4]

In [ ]:
range_val6=list(range(0,-11,-1))
print(range_val6)

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

**SET**

In [ ]:
set_1 = set((1,3,4,5))
print(set_1)

TypeError: 'dict' object is not callable

In [ ]:
# prompt: write set operation in python

# Set Operations

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union
union_set = set1 | set2
print("Union:", union_set)  # Output: {1, 2, 3, 4, 5}

# Intersection
intersection_set = set1 & set2
print("Intersection:", intersection_set)  # Output: {3}

# Difference
difference_set = set1 - set2
print("Difference (set1 - set2):", difference_set)  # Output: {1, 2}

difference_set2 = set2 - set1
print("Difference (set2 - set1):", difference_set2)  # Output: {4, 5}

# Add and Remove
set1.add(4)
print("Set1 after adding 4:", set1)  # Output: {1, 2, 3, 4}

set1.remove(2)
print("Set1 after removing 2:", set1)  # Output: {1, 3, 4}

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference (set1 - set2): {1, 2}
Difference (set2 - set1): {4, 5}
Set1 after adding 4: {1, 2, 3, 4}
Set1 after removing 2: {1, 3, 4}

In [ ]:
set_1={2,345.6,5,2,5,"adff"}
print(set_1)
# set is unordered so result will be in any sequence.
# hence, Indexing is not applicable.

{345.6, 2, 'adff', 5}

In [ ]:
set_2 = {2,2.0}
print(set_2)
set_3={2.0,2}
print(set_3)
# whichever 1st duplicate value will be , printed.
# means set contains unique va;ue only

{2}
{2.0}

In [ ]:
2==2.0

True

In [ ]:
set_1.add('Dhara')
print(set_1)

{2, 'adff', 'Dhara', 5, 345.6}

In [ ]:
false==0

NameError: name 'false' is not defined

In [ ]:
False==0

True

In [ ]:
True==1

True

In [ ]:
set_4={2,345.6,True,False,5,2,5,"adff"}
print(set_4)
set_5={1,2,345.6,True,False,5,2,5,"adff"}  # here True==1 hence, only 1st duplicate will be printed which is 1
print(set_5)
set_6={2,345.6,True,False,5,2,0,5,"adff"}  # here False==0 so same as before. printed value 'False'
print(set_6)
set_7={0,1,2,345.6,True,False,5,2,5,"adff"}  # 0,1 will be printed
print(set_7)
set_8={2,345.6,True,False,5,2,1,0,5,"adff"}  # 0,1 will not be printed.
print(set_8)
# also when you try to add 0,1 to set which already have False True so it will not be added and sam goes for vice versa.

{False, True, 2, 'adff', 5, 345.6}
{False, 1, 2, 'adff', 5, 345.6}
{False, True, 2, 'adff', 5, 345.6}
{0, 1, 2, 'adff', 5, 345.6}
{False, True, 2, 'adff', 5, 345.6}

In [ ]:
set_4[4]="Dharaa"

TypeError: 'set' object does not support item assignment

In [ ]:
# set is mutable
print(id(set_4))
set_4.add("Dhara")
print(set_4)
print(id(set_4))

138363526461056
{False, True, 2, 'adff', 'Dhara', 5, 345.6}
138363526461056

In [ ]:
1=="1"
# "1"--> string

False

In [ ]:
set_5.add("1")
set_5

{1, '1', 2, 345.6, 5, False, 'adff'}

In [ ]:
set_4.add([55,5])
set_4
# can not add a list in set

TypeError: unhashable type: 'list'

In [ ]:
set_4.add((55,5))
set_4
# can add a tuple to set

{(55, 5), '1', 2, 345.6, 5, 'Dhara', False, True, 'adff'}

In [ ]:
set_4.add({(55,5)})
set_4
# can not add set inside set

TypeError: unhashable type: 'set'

**FROZEN SET**

In [ ]:
# prompt: create frozenset in python

frozen_set = frozenset([1, 2, 3, 4, 5])
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [ ]:
frozen_set.add(6)
# frozenset is immutable--> so can not add/remove anything like tuple

AttributeError: 'frozenset' object has no attribute 'add'

**DICTIONARY**

In [ ]:
dict_1 ={}
print(type(dict_1))
dict_1 = {'a':23,'b':435,'c':'332',3:'trer'}
print(dict_1)
dict_1.update({4:'werg'})
print(dict_1)
dict_1.update({3:'werg'})   # it will update value of already existed key.
print(dict_1)

<class 'dict'>
{'a': 23, 'b': 435, 'c': '332', 3: 'trer'}
{'a': 23, 'b': 435, 'c': '332', 3: 'trer', 4: 'werg'}
{'a': 23, 'b': 435, 'c': '332', 3: 'werg', 4: 'werg'}

In [ ]:
dict_1['a']
# can access key directly and return its value

23

In [ ]:
dict_1['332']
# can not access value directly

KeyError: '332'

In [ ]:
dict_2 = {'a':23,'b':435,'c':'332',3:'trer','a':'Dhara'}
print(dict_2)
# it will remove duplicate and update with latest value

{'a': 'Dhara', 'b': 435, 'c': '332', 3: 'trer'}

In [ ]:
dict_3 = {'a':[34,5,656],'b':[435,'erd']}
print(dict_3)
print(dict_3['a'][1])

{'a': [34, 5, 656], 'b': [435, 'erd']}
5

In [ ]:
dict_4 = {'a':(34,5,656),'b':(435,'erd')}
print(dict_4)

{'a': (34, 5, 656), 'b': (435, 'erd')}

In [ ]:
dict_5 = {[3,4]:[34,5,656],'b':[435,'erd']}
print(dict_5)
# can not use list,set,dictionary as key but can have as a value

TypeError: unhashable type: 'list'

In [ ]:
dict_5 = {(3,4):[34,5,656],'b':[435,'erd']}
print(dict_5)
# TUPLE,FROZEN SET --> can be taken as a key and value both

{(3, 4): [34, 5, 656], 'b': [435, 'erd']}

In [ ]:
dict_6 = {'a':23,'b':{'c':'332',3:'trer','a':'Dhara'}}
print(dict_6)
print(dict_6['b']['a'])
print(dict_6['b'])

{'a': 23, 'b': {'c': '332', 3: 'trer', 'a': 'Dhara'}}
Dhara
{'c': '332', 3: 'trer', 'a': 'Dhara'}

**BOOLEAN**

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0.0))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False
False

In [ ]:
print(bool(True))
print(bool(1))
print(bool("DHARA"))
print(bool((23,3)))
print(bool([43,'df']))
print(bool({34,65}))

True
True
True
True
True
True

In [ ]:
print(bool('0'))
print(bool(' '))
print(bool('False'))
# here, 0, space, False is as string.

True
True
True

In [ ]:
a = bool(False)
b = bool(None)
c = bool(0.0)
d = bool(0)
e = bool("")
f = bool(())
g = bool([])
h = bool({})
print(id(a))
print(id(b))
print(id(c))
print(id(d))
print(id(e))
print(id(f))
print(id(g))
print(id(h))
#  all id will be same bcz its mean empty..
# same goes for true

97908448265216
97908448265216
97908448265216
97908448265216
97908448265216
97908448265216
97908448265216
97908448265216

**NONE**

In [ ]:
a = None
print(type(a))
# this is used to check whether perticular value is updated or not

<class 'NoneType'>

**USER INPUT**

In [ ]:
name = input("Enter your name: ")
print(name)
print(type(name))

Enter your name: hbedhj
hbedhj
<class 'str'>

In [ ]:
name = input("Enter your name: ")
print(name)
print(type(name))
# default value as 'str'

Enter your name: 345
345
<class 'str'>

In [ ]:
a =int(input("Enter your age: "))
print(a)
print(type(a))
# here string input will be converted into integer

Enter your age: 21
21
<class 'int'>